body {
    font-family: Arial, sans-serif;
    background: #0a192f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}

.strength-bar {
    width: 100%;
    height: 10px;
    background: #233554;
    margin-top: 15px;
    border-radius: 5px;
}

#strength-fill {
    height: 100%;
    width: 0%;
    border-radius: 5px;
    transition: 0.3s;
}

#feedback {
    margin-top: 15px;
}
